.header {
    grid-area: header;
    background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.logo{
    width: 100px;
}
.login_block {
    margin-right: 20px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }
.login {
    font-size: 18px;
    font-weight: bold;
    color: navy;
}
.login_block a {
    text-decoration: none;
}